<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de categorias</h1>
    {% for product in object_list %}
        <label for="">Nombre: </label>{{product.name}} <br>
        <label for="">descripción: </label>{{product.description}} <br>
        <label for=""> codigo: </label>{{product.code}} <br>
        <label for="">stock: </label>{{product.stock}} <br>
        <label for="">categoria: </label>
            {% for category in product.categories.all %}
                {{category.name}}
            {% endfor %}
        <br>
        <label for="">area: </label>{{product.area.name}} <br>
    {% endfor %}
</body>
</html>